<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href='/css/style.css'>
        <script   src='/json/app.js'></script>
 
</head>
<body>

    {{>header}}

    <h1>Redaing from public dir</h1>
    <img src='/img/img1.jpg'/>
    <h2>{{name}} working in {{Company}}</h2>

<h1 style="color:green">Form below</h1>
<br><hr>

<form>
<input type="text" id="place" placeholder="enter the city:"/>
<button type="submit" id="search">Search</button>
</form>

<p id="forecast"></p>
{{>footer}}

<script type="text/javascript" src='/json/fetch.js'></script>
</body>
</html>